body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Fix materialize checkbox bug */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: static!important;
  left: 0px!important;
  opacity: 1!important;
  visibility: visible!important;
  pointer-events: all!important;
}
